{% extends "base.html" %}
{% block content %}

<form action="/question/{{create_update|lower}}" class="form" method="post">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>
    <input name="id" type="hidden" value="{{question.id}}"/>

    <div class="form-group">
        <label for="topic_id">Topic</label>

        <select id="topic_id" name="topic_id" class="form-control">
            {% for topic in topics %}
                <option value="{{topic.id}}"
                        {% ifequal topic.id question.topic_id %} selected {% endifequal %}
                        >{{topic.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" id="question" name="question">{{question.question}}</textarea>
    </div>

    {% for answer in question.answer %}
        <div class="form-group">
            <input type="hidden" name="answer_id_{{forloop.counter}}" value="{{answer.id}}">
            <label for="answer_{{forloop.counter}}">Answer {{forloop.counter}}</label>
            <textarea class="form-control" id="answer_{{forloop.counter}}" name="answer_{{forloop.counter}}">{{answer.answer}}
            </textarea>
            <label for="answer_correct_{{forloop.counter}}">Answer {{forloop.counter}} Correct?</label>
            <input type="checkbox" id="answer_correct_{{forloop.counter}}" name="answer_correct_{{forloop.counter}}"
                    {% ifequal "1" answer.correct %} checked {% endifequal %}>
        </div>
    {% endfor %}

    {% for i in quest_count %}
        <div class="form-group">
            <label for="answer_{{i}}">{{answers.i.answer}} Answer {{i}}</label>
            <textarea class="form-control" id="answer_{{i}}" name="answer_{{i}}"></textarea>
            <label for="answer_correct_{{i}}">Answer {{i}} Correct?</label>
            <input type="checkbox" id="answer_correct_{{i}}" name="answer_correct_{{i}}">
        </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">{{create_update}} question</button>
</form>

{% endblock %}