{% extends "base.html" %}
{% block content %}

<form action="/topic/{{create_update|lower}}" class="form" method="post">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>
    <input name="id" type="hidden" value="{{topic.id}}"/>

    <div class="form-group">
        <label for="topic_id">Parent Topic</label>
        <select id="topic_id" name="topic_id" class="form-control">
            <option value="none">None</option>
            {% for topic in topics %}
                <option value="{{topic.id}}"
                        {% ifequal topic.id topic.topic_uuid %} selected {% endifequal %}>
                    {{topic.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="topic-name">Name</label>
        <input class="form-control" id="topic-name" maxlength="255" name="name" value="{{topic.name}}" required/>
    </div>

    <button class="btn btn-primary" type="submit">{{create_update}} topic</button>
</form>

{% endblock %}