{% extends "base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

<div>

    <form action="/index/select_topic" class="form" method="post">
        <div class="form-group">
            <label for="topic_id">Select a Topic</label>
            <select id="topic_id" name="topic_id" class="form-control">
                <option value="none">Random</option>
                {% for topic in topics %}
                    <option value="{{topic.id}}">{{topic.name}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Go</button>
    </form>

</div>

{% endblock %}