{% extends "base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

<div>

    <form action="/index/select_topic" class="form" method="post">
        <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>
        <div class="form-group">
            <label for="topic_id">Select a Topic</label>
            <select id="topic_id" name="topic_id" class="form-control">
                <option value="none">Random</option>
                {% for topic in topics %}
                <option value="{{topic.id}}"
                        {% ifequal topic.id selected-topic-id %} selected {% endifequal %}>
                    {{topic.name}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit" id="select-topic">Go</button>
    </form>

    <br>
    <br>

    {% if selected-topic-id %}

        <form action="/index/answer_question" class="form" method="post">
            <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>
            <input name="question_id" id="question_id" type="hidden" value="{{question.id}}"/>
            <input name="topic_id" type="hidden" value="{{selected-topic-id}}"/>

            <p><b>{{question.question}}:</b></p>

            {% for answer in question.answer %}


                <input type="checkbox" name="answer_correct_{{forloop.counter}}"> {{answer.answer}}

                <br>
            {% endfor %}


            <button class="btn btn-primary" type="submit" id="answer-question">Next</button>
        </form>

    {% endif %}

</div>

{% endblock %}